.about__content {
  display: flex;
  flex-direction: column;
  height: 350px;
  justify-content: space-between;
}

.about__content_bo_wrapper,
.about__content_joanna_wrapper {
  display: flex;
  margin-top: 80px;
  gap: 40px;
}

.about__content_bo_content,
.about__content_joanna_content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h5 {
  color: var(--color-warm-black);
  font-size: 2rem;
  margin: 60px 0px;
}
