.about__content_text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 130px;
  overflow: hidden;
}

.rotate {
  transform: rotate(180deg);
}

.about__content_bo_wrapper,
.about__content_joanna_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
  gap: 2.5rem;
}

.about__content_joanna_wrapper {
  margin-bottom: 5rem;
}

.about__content_bo_content,
.about__content_joanna_content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* font sizes */
.about__title {
  color: var(--color-warm-black);
  font-size: 2.5rem;
  margin: 0 0 20px 0;
  font-weight: 500;
}

.content_title {
  color: var(--color-warm-black);
  font-size: 2rem;
  font-weight: 400;
}

.about__content_text p,
.about__content_bo_content p,
.about__content_joanna_content p {
  color: var(--color-warm-black);
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.62rem;
}

.contact-joanna-button a {
  color: var(--color-warm-black);
  font-size: 1rem;
  font-weight: 400;
}

.contact-joanna-button,
.contact-bo-button {
  border: solid var(--color-warm-black) 2px;
  padding: 1rem 1.25rem;
}

/* images */
.about__content_joanna_image,
.about__content_bo_image {
  width: 165px;
  height: 159px;
}

.about__content_joanna_image img,
.about__content_bo_image img {
  width: 165px;
  height: 159px;
  object-fit: cover;
  object-position: left top;
}

.read-more-container {
  display: none;
}

.hidden {
  display: none;
}

.rotate {
  transform: rotate(180deg);
}

.read-more-container {
  display: flex;
  align-items: flex-end;
  gap: 12px;
  font-weight: bold;
  font-size: 16px;
  margin: 1rem 0 0 1rem;
}

.read-more-container img:hover,
.read-more-container p:hover {
  cursor: pointer;
}

.read-more-container img {
  width: 11px;
  height: 19px;
}

@media screen and (min-width: 700px) {
  .about__content_bo_wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 5rem;
    gap: 40px;
  }

  .about__content_joanna_wrapper {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    margin-top: 5rem;
    gap: 40px;
  }

  .about__content_bo_content,
  .about__content_joanna_content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 361px;
  }

  /* font sizes */
  .content_title {
    font-size: 2rem;
  }
  /* images */
  .about__content_joanna_image,
  .about__content_bo_image {
    width: 375px;
    height: 361px;
  }

  .about__content_joanna_image img,
  .about__content_bo_image img {
    width: 375px;
    height: 361px;
    object-fit: cover;
    object-position: left top;
  }
}

@media screen and (min-width: 1000px) {
  .about__content_text {
    height: auto;
  }

  /* font sizes */
  .about__title {
    font-size: 4.5rem;
  }

  .content_title {
    font-size: 3rem;
  }

  .about__content_text p,
  .about__content_bo_content p,
  .about__content_joanna_content p {
    font-size: 1.125rem;
  }

  .about__content_bo_content,
  .about__content_joanna_content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 454px;
  }

  .contact-info-joanna li,
  .contact-info-bo li {
    color: var(--color-warm-black);
    font-size: 1.5rem;
    font-weight: 400;
  }

  /* images */
  .about__content_joanna_image,
  .about__content_bo_image {
    width: 471px;
    height: 454px;
  }

  .about__content_joanna_image img,
  .about__content_bo_image img {
    width: 471px;
    height: 454px;
    object-fit: cover;
    object-position: left top;
  }
}
